* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

a {
  color: white;
}

button {
  border: none;
  outline: 0;
  padding: 2px 7px;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
